@font-face {
    font-family: 'Pixel';
    font-style: normal;
    font-display: swap;
    src: url('pixel.ttf') format('truetype');
}

body {
    background-color: rgb(199, 54, 54);
}
.title {
    font-family: 'Pixel', 'sans-serif';
    font-size: 28px;
    font-weight: 400;
    color: chartreuse;
    text-align: center;
}
canvas {
    font-family: 'Pixel', 'sans-serif';

    margin: 0 auto;
    display: block;
}
